{% extends './layout.html.twig' %}
{% block nav %}
    <li><a href="index.html">Home</a></li>
    <li class="active"><a href="chunks.html">Chunks</a></li>
    <li><a href="./modules.html">Modules</a></li>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Chunks</h1>
        <div class="collection">
            {% for chunk in chunks %}
                <a href="./chunks/{{chunk.hash}}.html" class="collection-item">
                    <span class="badge">{{chunk.size|prettyBytes}}</span>
                    {{chunk.id}}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
