{% extends './layout.html.twig' %}
{% block nav %}
    <li><a href="index.html">Home</a></li>
    <li><a href="assets.html">Assets</a></li>
    <li class="active"><a href="chunks.html">Chunks</a></li>
    <li><a href="./modules.html">Modules</a></li>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Chunks</h1>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            {% for chunk in chunks %}
                <tr>
                    <th><a href="./chunks/{{chunk.hash}}.html">{{ chunk.names|join(" ") }}</a></th>
                    <td class="text-right">{{ chunk.size|prettyBytes }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
